*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fa823d;
}

.header{
    background-color:#ff5e00;
    text-align: center;
    color:#fdb68d;
    position: fixed;
    padding: 0px 314px;
}

.header h1{
    font-size: 2.5em;
    padding-bottom: 20px;
    padding-top: 40px;
}

header a {
    color: #fdb68d;
    text-decoration: none;
    display: inline-flex; 
    padding: 2px;
    transition: 0.2s;
}

header a:hover {
    color: #0084ff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 10px;
}

h2{
    text-align: center;
    font-size: 3em;
    color: #fdb68d;
}

h3{
    text-align: center;
    font-size: 3em;
    color: #fdb68d;
    padding-bottom: 30px;
}

h4{
    text-align: center;
    font-size: 3em;
    color: #fdb68d;
    padding-bottom: 30px;
}
h5{
    text-align: center;
    font-size: 3em;
    color: #fdb68d;
    padding-bottom: 30px;
}
h6{
    text-align: center;
    font-size: 3em;
    color: #fdb68d;
    padding-bottom: 30px;
}

span{
    color: #e96d26;
}

.inicial{
    padding-top: 130px;
    box-shadow: 2px 2px 5px #e96d26;
}

p{
    padding: 30px;
    text-align:justify;
    width: 50%;
    margin: 0% 25%;
    color: #974616;
}

.h2petc{
    padding: 100px;
}

.espaco{
    padding-bottom: 250px;
}

table{
    border: 1px #e96d26 solid;
    width: 50%;
    margin: auto;
    border-collapse: separate;

}

th, td{
    border: 1px #e96d26 solid;
    padding: 5px;
}
th{
    background-color: #fd9356;
    color: #ffffff;
    font-family: arial, sans-serif;
}
td{
    background-color: #fd9356;
    color: #974616;
    text-align: center;
}

.tabeladiv{
    padding-bottom: 150px;
}


section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: 
    #974616;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color:#fa823d;
    font-size: 18px
}

form textarea{
    resize:vertical;
    max-height: 200px;
}

form input:placeholder{
    color: #fd9356;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color:#e96d26;
    color: #fd9356;
    font-weight: 700px;
    cursor: pointer;
    transition: .2s;
}

.btn-enviar:hover{
    transform: scale(1.05);
}


.footer{
    bottom: 0;
    background-color:#e96d26 ;
    text-align: center;
    color: #974616;
    padding: 10px;
}
